<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
     <h3>Transfer Form</h3>
     <form id="form" method="POST">
         <input id="acc_name" type="text" name="accn" placeholder="Account name">
         <input id="acc_no" type="number" name="acc" placeholder="Account number">
         <input id="money" type="number" name="money" placeholder="Money in rupee">
         <input  type="submit" name="submit" value="submit">
      </form>
      <script>
         $('#form').on('submit', function(e){

         e.preventDefault();

           $.ajax({
                type : "POST",
                url: "{% url 'auto_send' %}",
                data: {
                 acc_name : $('#acc_name').val(),
                 acc_no : $('#acc_no').val(),
                 money : $('#money').val(),
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },
            });
                 });
      </script>
</body>
</html>